@inject NavigationManager Navigation

<button class="mobile_button" @onclick="HandleClick" >
    <span class="mobile_button_text">@ButtonText</span>
	<div class="mobile_button_icon"><i class="@Icon"></i></div>
</button>

@code {

	[Parameter]
	public EventCallback<int> OnButtonClick { get; set; }

	[Parameter]
	public int ButtonIndex { get; set; }

	[Parameter]
	public string ButtonText { get; set; }

	[Parameter]
	public string Icon { get; set; }


	private async Task HandleClick()
	{         
		await OnButtonClick.InvokeAsync(ButtonIndex);
	}

	
}
