
<div class="mobile_meeting_info">
	<div class="mobile_meeting_icon"><i class="@Icon"></i></div>
	<span class="meeting_text">text</span>
	
</div>

@code {

	[Parameter]
	public string Icon { get; set; }
}
