@inject UserDataService UserDataService
@inject NavigationManager NavigationManager
@inject HealthCare.Core.Models.Patient patient
@inject HealthCare.Core.Models.Caregiver caregiver
@using HealthCare.WebApp.Services
@using HealthCare.Core.Controllers;
@using Microsoft.AspNetCore.WebUtilities


<h3>Please enter your name:</h3>
<input type="text" @bind="firstName" placeholder="First name" />
<input type="text" @bind="lastName" placeholder="Last name" />
<button @onclick="SaveName">Save name</button>


@code {
	[Parameter]
	public EventCallback<int> OnNameSaved { get; set; }

	[Parameter]
	public string Role { get; set; }

	public string firstName { get; set; }

	public string lastName { get; set; }

	private string userId;

	private async Task SaveName()
	{
		userId = await UserDataService.GetUserIdAsync();
		var httpClient = new HttpClient(new HttpClientHandler());
		httpClient.BaseAddress = new Uri("https://localhost:7139/");

		var query = new Dictionary<string, string>()
		{
			["id"] = userId,
			["firstName"] = firstName ?? "",
			["lastName"] = lastName ?? ""
		};

			var uri = QueryHelpers.AddQueryString("/api/" + Role.ToLower(), query!);
			var saveResponse = await httpClient.PutAsync(uri, null);

		if (!saveResponse.IsSuccessStatusCode)
		{
			NavigationManager.NavigateTo("/Error");
		}

		await OnNameSaved.InvokeAsync();
	}
}

		