@using HealthCare.Core.Models
@using System.Text.Json

@code {
	List<Caregiver> caregivers = new();

	protected override async Task OnInitializedAsync()
	{
		var httpClient = new HttpClient(new HttpClientHandler());
		httpClient.BaseAddress = new Uri("https://localhost:7139/");
		var getCaregiversResponse = await httpClient.GetAsync("getall");

		if(getCaregiversResponse.IsSuccessStatusCode)
		{
			caregivers = await getCaregiversResponse.Content.ReadFromJsonAsync<List<Caregiver>>();
		}
	}
}

<div class="mobile_meeting_container">
	<div class="mobile_meeting_info booking_date_container">
		<input class="booking_style" type="datetime-local" @bind="Date" />
	</div>

	<div class="mobile_meeting_info booking_date_container">
		<input class="booking_style" type="text" placeholder="Patient Name" @bind="Name" />
	</div>

	<div class="mobile_meeting_info booking_date_container">

		<select class="booking_style">
			<option value="" disabled selected>Select Caregiver</option>
		@foreach (Caregiver caregiver in  caregivers)
		{
			<option value="@caregiver.CaregiverId">@caregiver.FirstName @caregiver.LastName</option>
		}
		</select>
	</div>
	<div class="mobile_meeting_info booking_date_container">
		<select class="booking_style">
			<option value="General Checkup">District Nurse</option>
			<option value="Vaccination">General Practitioner</option>
		</select>
	</div>

	<button class="home_button" @onclick="BookAppointment"><i class="fa-solid fa-circle-check"></i></button>
</div>

@code {

	public string Name;
	public DateTime Date;
	public Caregiver Caregiver;

	

	public void BookAppointment()
	{
		
	}

}
