
<div class="mobile_meeting_container">
	<div class="mobile_meeting_info booking_date_container">
		<input class="booking_style" type="datetime-local" @bind="Date" />
	</div>

	<div class="mobile_meeting_info booking_date_container">
		<input class="booking_style" type="text" placeholder="Patient Name" @bind="Name" />
	</div>

	<div class="mobile_meeting_info booking_date_container">

		<input class="booking_style" type="text" placeholder="Service" @bind="Service" />

	</div>
	<div class="mobile_meeting_info booking_date_container">
		<select class="booking_style">
			<option value="General Checkup">District Nurse</option>
			<option value="Vaccination">General Practitioner</option>
		</select>
	</div>

	<button class="home_button" @onclick="BookAppointment"><i class="fa-solid fa-circle-check"></i></button>
</div>

@code {

	public string Name;
	public DateTime Date;
	public string Service;

	

	public void BookAppointment()
	{
		
	}

}
