@page "/caregiverpage"


<div class="top-banner">
    <img src="BannerCaregiver.jpg" alt="Top Banner">
</div>

<div class="navigation">
    <button id="calendarBtn">Calendar</button>
    <button id="salaryBtn">Salary</button>
    <button id="settingsBtn">Settings</button>
</div>

<div class="sub-navigation">
    <button id="dayFilter">Day</button>
    <button id="weekFilter">Week</button>
    <button id="monthFilter">Month</button>
    <button id="dateFilter">Date</button>
</div>

<div class="week-view">
    <div class="day-container" id="monday-container">
        <div class="day-label">Monday</div>
        <div class="day-content">
        </div>
    </div>
    <div class="day-container" id="tuesday-container">
        <div class="day-label">Tuesday</div>
        <div class="day-content">
        </div>
    </div>
    <div class="day-container" id="wednesday-container">
        <div class="day-label">Wednesday</div>
        <div class="day-content">
        </div>
    </div>
    <div class="day-container" id="thursday-container">
        <div class="day-label">Thursday</div>
        <div class="day-content">
        </div>
    </div>
    <div class="day-container" id="friday-container">
        <div class="day-label">Friday</div>
        <div class="day-content">
        </div>
    </div>
</div>

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #C7DCE2;
    }

    .top-banner img {
        width: 100vw;
        height: 30vh; 
        object-fit: cover; 
        display: block; 
    }

    .navigation {
        display: flex;
        justify-content: space-around;
        padding: 10px;
        background: rgb(135,192,203);
        background: linear-gradient(0deg, rgba(135,192,203,1) 16%, rgba(88,152,164,1) 98%);
    }

    .navigation button {
        padding: 10px 20px;
        border: none;
        background: rgb(133,190,200);
        background: linear-gradient(0deg, rgba(133,190,200,1) 16%, rgba(255,255,255,1) 98%);
        color: white;
        cursor: pointer;
        border-radius: 21px;
        box-shadow: 5px 20px 30px -7px rgba(0,0,0,0.4);
        -webkit-box-shadow: 5px 20px 30px -7px rgba(0,0,0,0.4);
        -moz-box-shadow: 5px 20px 30px -7px rgba(0,0,0,0.4);
    }

    .sub-navigation {
        display: flex;
        justify-content: space-around;
        padding: 10px;
        background:
    }

    .week-view {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background-color: #C7DCE2;
        flex: 1;
    }

    .day-container {
        background-color: white;
        margin: 5px;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        box-shadow: 5px 20px 30px -7px rgba(0,0,0,0.4);
        -webkit-box-shadow: 5px 20px 30px -7px rgba(0,0,0,0.4);
        -moz-box-shadow: 5px 20px 30px -7px rgba(0,0,0,0.4);
        min-height: 55vh;
    }

    .day-label {
        color: #333;
        padding: 10px;
        text-align: center;
        font-weight: bold;
        margin: 5%;
        background-color: #F1ECEC;
        border-radius: 15px;
        box-shadow: 0px 4px 4px 0px #00000040;
    }

    .day-content {
        padding: 20px;
        flex-grow: 1;
    }
</style>