@page "/caregiverpage"
@using HealthCare.WebApp.Services
@using HealthCare.Core.Models
@inject UserDataService UserDataService
@*@inject HealthCare.Core.Models.Booking Booking*@

@code{
    public string CaregiverId;
    private bool isFirstRender = true;
    public DateTime Date = DateTime.Now;
    public string Note = null;
    public bool Completed = false;
    public string PatientID = null;
    public bool CanBeBooked = false;
    public List<Booking> Bookings = new List<Booking>();


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        CaregiverId = await UserDataService.GetUserIdAsync();

    }

    public async Task CreateEmptyMeeting(){

        CheckOverlapingTimeInCalender(Date);

        using var httpClient = new HttpClient(new HttpClientHandler())
            {
                BaseAddress = new Uri("https://localhost:7139/")
            };

        if (CanBeBooked)
        {
            var apiEndpoint = $"/api/booking/?start={Date}&note={Note}&completed={Completed}&patientId={PatientID}&caregiverId={CaregiverId}";
            var getBookingResponse = await httpClient.PostAsync(apiEndpoint, null);
        }
    }

    public async Task CheckOverlapingTimeInCalender(DateTime Date)
    {
        using var httpClient = new HttpClient(new HttpClientHandler())
            {
                BaseAddress = new Uri("https://localhost:7139/")
            };

        var apiEndpoint = $"/api/booking?Id={CaregiverId}";
        var getBookingResponse = await httpClient.GetAsync(apiEndpoint);

        if (getBookingResponse.IsSuccessStatusCode)
        {
            Bookings = await getBookingResponse.Content.ReadFromJsonAsync<List<Booking>>();

            foreach(var meting in Bookings)
            {
                if (Date >= meting.Start && Date < meting.End)
                {
                    CanBeBooked = false;
                }
                else
                {
                    CanBeBooked = true;
                }
            }
            
        }

    }
}

<div class="top-banner">
    <img src="BannerCaregiver.jpg" alt="Top Banner">
</div>

<div class="navigation">
    <button class="navigation_button" id="calendarBtn">Calendar</button>
    <button class="navigation_button" id="salaryBtn">Salary</button>
    <button class="navigation_button" id="settingsBtn">Settings</button>
</div>

<div class="sub-navigation">
    <form class="booking_form" @onsubmit="CreateEmptyMeeting">
        <div>Create meeting</div>
        <input @bind="Date" type="datetime-local"/>
        <button class="navigation_button" type="submit">Submit</button>
        
    </form>
</div>

<div class="week-view">
    <div class="day-container" id="monday-container">
        <div class="day-label">Monday</div>
        <div class="day-content">
        </div>
    </div>
    <div class="day-container" id="tuesday-container">
        <div class="day-label">Tuesday</div>
        <div class="day-content">
        </div>
    </div>
    <div class="day-container" id="wednesday-container">
        <div class="day-label">Wednesday</div>
        <div class="day-content">
        </div>
    </div>
    <div class="day-container" id="thursday-container">
        <div class="day-label">Thursday</div>
        <div class="day-content">
        </div>
    </div>
    <div class="day-container" id="friday-container">
        <div class="day-label">Friday</div>
        <div class="day-content">
        </div>
    </div>
</div>

