@page "/caregiverpage"
@using HealthCare.WebApp.Services
@inject UserDataService UserDataService


@code {
    public string userId;
    private bool isFirstRender = true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        userId = await UserDataService.GetUserIdAsync();

    }

}

<div class="top-banner">
    <img src="BannerCaregiver.jpg" alt="Top Banner">
</div>

<div class="navigation">
    <button class="navigation_button" id="calendarBtn">Calendar</button>
    <button class="navigation_button" id="salaryBtn">Salary</button>
    <button class="navigation_button" id="settingsBtn">Settings</button>
</div>

<div class="sub-navigation">
    <button class="nav_button">Day</button>
    <button class="nav_button">Week</button>
    <button class="nav_button">Month</button>
    <button class="nav_button">Date</button>
</div>

<div class="week-view">
    <div class="day-container" id="monday-container">
        <div class="day-label">Monday</div>
        <div class="day-content">
        </div>
    </div>
    <div class="day-container" id="tuesday-container">
        <div class="day-label">Tuesday</div>
        <div class="day-content">
        </div>
    </div>
    <div class="day-container" id="wednesday-container">
        <div class="day-label">Wednesday</div>
        <div class="day-content">
        </div>
    </div>
    <div class="day-container" id="thursday-container">
        <div class="day-label">Thursday</div>
        <div class="day-content">
        </div>
    </div>
    <div class="day-container" id="friday-container">
        <div class="day-label">Friday</div>
        <div class="day-content">
        </div>
    </div>
</div>