@page "/"
@inject IConfiguration Configuration
@inject NavigationManager NavigationManager

<div class="app-container">
    <div class="toolbar"></div>
    <h1>Welcome to your digital healthcare ❤</h1>
    <button @onclick="Login">Login</button>
</div>
<div class="review-container"> 
    <h2>Here's what some of our patients think about us</h2>
    <p>First review here..</p>
    <p>Second review here..</p>
</div>


@code {
    private void Login()
    {
        var returnUrl = $"{NavigationManager.BaseUri}sendto";
        NavigationManager.NavigateTo($"https://{Configuration["Auth0:Domain"]}/authorize?client_id={Configuration["Auth0:ClientId"]}&response_type=code&redirect_uri={returnUrl}&scope=openid profile", forceLoad: true);
    }
}
