@page "/"
@inject IConfiguration Configuration
@inject NavigationManager NavigationManager

<div class="app-container">
    <div class="toolbar"></div>
    <h1>Welcome to your digital healthcare ❤</h1>
    <button @onclick="Login">Login</button>
</div>

@code {
    private void Login()
    {
        var returnUrl = $"{NavigationManager.BaseUri}sendto";
        NavigationManager.NavigateTo($"https://{Configuration["Auth0:Domain"]}/authorize?client_id={Configuration["Auth0:ClientId"]}&response_type=code&redirect_uri={returnUrl}&scope=openid profile", forceLoad: true);
    }
}
