@inject NavigationManager Navigation
@inject UserDataService UserDataService
@inject HealthCare.Core.Models.Patient patient
@page "/patientpage"
@using HealthCare.WebApp.Services
@using HealthCare.Core.Models
@* @inject HealthCare.Core.Controllers.PatientController patientController *@

@code {

	private string userId;

	protected override async Task OnInitializedAsync()
	{
		userId = UserDataService.GetUserId();
		//Hämta patientinformation
		//Namn och kommande möten,
		var httpClient = new HttpClient(new HttpClientHandler());
		httpClient.BaseAddress = new Uri("https://localhost:7139/");
		var getPatientResponse = await httpClient.GetAsync("/api/patient?id=" + userId);

		if (getPatientResponse.IsSuccessStatusCode)
		{
			patient = await getPatientResponse.Content.ReadFromJsonAsync<Patient>();
		}
		else
		{
			// nån sorts felhantering?
		}
	}

	private async Task HandleButtonClick(int index)
	{
		if (index == 0)
		{
			Navigation.NavigateTo("/booking");
		}
		else if (index == 1)
		{
			//send to inbox page
			//Navigation.NavigateTo("");
		}
		else if (index == 2)
		{
			//send to My profile page
			//Navigation.NavigateTo("");
		}
		else if (index == 3)
		{
			//send to Feedback page
			//Navigation.NavigateTo("");
		}
	}
}

@if (patient.FirstName == "" || patient.FirstName is null)
{
	<PatientNameInputComponent></PatientNameInputComponent>
}
else
{

	<div class="user_info_container">
		<img id="user_img" src="https://www.pngall.com/wp-content/uploads/12/Avatar-Profile-PNG-Photos.png" />
		<h1 id="user_name_display"><span>@patient.FirstName</span> <span>@patient.LastName</span></h1>
	</div>

	<div class="mobile_button_container">

		<MobileButtonComponent OnButtonClick="HandleButtonClick" ButtonIndex="0"
							   ButtonText="Booking" Icon="fa-solid fa-heart-pulse" />
		<MobileButtonComponent OnButtonClick="HandleButtonClick" ButtonIndex="1" ButtonText="Inbox" Icon="fa-solid fa-comment" />
		<MobileButtonComponent OnButtonClick="HandleButtonClick" ButtonIndex="2" ButtonText="My Profile" Icon="fa-solid fa-user" />
		<MobileButtonComponent OnButtonClick="HandleButtonClick" ButtonIndex="3" ButtonText="Feedback" Icon="fa-solid fa-star" />

	</div>

	<div class="mobile_title_container">

		<h2 class="mobile_title">Upcoming meetings</h2>

	</div>

	<div class="mobile_meeting_container">
		@*//Hämta information om möte från databas
	//Loopa ut antal möten *@
		<MobileMeetingComponent Icon="fa-solid fa-calendar-days" />

	</div>
}


