@inject NavigationManager Navigation
@inject UserDataService UserDataService
@inject HealthCare.Core.Models.Patient patient
@page "/reviewpage"
@using HealthCare.WebApp.Services
@using HealthCare.Core.Models


<h3>ReviewPage</h3>

@code {

}
