@inject NavigationManager Navigation
@inject UserDataService UserDataService
@inject HealthCare.Core.Models.Patient patient
@page "/reviewpage"
@using HealthCare.WebApp.Services
@using HealthCare.Core.Models


<h3>Leave a review:</h3>
<form>
	<label> Enter your review: <input type="text"/></label>
</form>

@code {

}
