@page "/sendTo"
@using HealthCare.WebApp.Services
@using HealthCare.WebApp.Services.Auth0
@using Microsoft.AspNetCore.WebUtilities
@using System.IdentityModel.Tokens.Jwt
@using HealthCare.Core
@using System.Net
@inject TokenService TokenService
@inject NavigationManager NavigationManager
@inject UserDataService UserDataService
@inject UserAccessService UserAccessService

@if (!string.IsNullOrEmpty(userRole) && userRole.ToLower() == "admin" && !isError)
{
    <p>You are admin choose which page you want to go to</p>
    <button @onclick="@(() => RedirectUserAsAdmin("patient"))">Go to Patient Page</button>
    <button @onclick="@(() => RedirectUserAsAdmin("caregiver"))">Go to Caregiver Page</button>
}

@code {
    private string userToken;
    private string userRole;
    private string userEmail;
    private string userId;
    private string firstName;
    private string lastName;
    private bool isError = false;
    private string errorMessage;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                // Extract the authorization code from the query string
                var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
                if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("code", out var code))
                {
                    userToken = await TokenService.ExchangeAuthorizationCodeForUserTokenAsync(code);

                    var handler = new JwtSecurityTokenHandler();
                    var jsonToken = handler.ReadToken(userToken) as JwtSecurityToken;
                    var rolesClaim = jsonToken?.Claims.FirstOrDefault(claim => claim.Type == "Authorizationroles")?.Value;
                    if (rolesClaim != null)
                    {
                        userRole = rolesClaim;
                        userEmail = jsonToken?.Claims.FirstOrDefault(claim => claim.Type == "Email")?.Value;
                        firstName = jsonToken?.Claims.FirstOrDefault(claim => claim.Type == "given_name")?.Value;
                        lastName = jsonToken?.Claims.FirstOrDefault(claim => claim.Type == "family_name")?.Value;
                        userId = jsonToken?.Claims.FirstOrDefault(claim => claim.Type == "sub")?.Value;
                    }
                }
                else
                {
                    isError = true;
                    errorMessage = "Authorization code not found in the URL query string.";
                }
            }
            catch (Exception ex)
            {
                isError = true;
                errorMessage = ex.Message;
            }

            if (!isError && !string.IsNullOrEmpty(userRole))
            {
                // Store user ID securely in the UserDataService
                await UserDataService.SetUserIdAsync(userId);

                switch (userRole.ToLower())
                {
                    case "patient":
                        RedirectUser(userRole, userId, userEmail, firstName, lastName);
                        break;
                    case "caregiver":
                        RedirectUser(userRole, userId, userEmail, firstName, lastName);
                        break;
                    case "admin":
                        break;
                    default:
                        isError = true;
                        errorMessage = "Invalid user role.";
                        break;
                }
            }
            StateHasChanged(); 
        }
    }

    public async Task RedirectUser(string role, string id, string email, string firstName, string lastName)
    {
        if (role == "patient" || role == "caregiver")
        {
            await UserAccessService.LogInUser(role, id, firstName, lastName, email);
            NavigationManager.NavigateTo($"/{role}page");
        }
        else
        {
            isError = true;
            errorMessage = "Invalid user role.";
            NavigationManager.NavigateTo("/Error");

        }
    }

    private async Task RedirectUserAsAdmin(string role)
    {
        await UserAccessService.LogInUser(role, userId, firstName, lastName, userEmail);
        NavigationManager.NavigateTo($"/{role}page");
    }
}

